.site-footer .footer-icons ul {
            list-style: none;
        }

    .site-footer .footer-icons ul li {
                display: inline;
            }

    .site-footer .footer-icons ul a:hover {
                color: darken($link-color, 15%);
            }
